.grid {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  margin: 5px auto;
  justify-content: center;
  grid-gap: 100px;
}
.users {
  display: flex;
  padding: 20px;
  margin: 50px 0 10px 30px;
}
.img {
  max-width: 120px;
}
.username {
  margin-left: 10px;
  word-wrap: break-word;
  width: 200px;
}
.check {
  text-decoration: none;
}
.message {
  display: flex;
  justify-content: center;
}
